@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap'); /*main font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); /*for logo*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input {
    padding: 10px;
    border-radius: 0.25rem;
    color: #000;
    border: 1px solid #ccc; 
    outline: none;
  }
  .logo{
    font-family: "Inter", sans-serif !important;
  }
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lunasima", sans-serif !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #d2d2d2;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
